<div class="col-sm-12">

  <div class="col-sm-6">
    <mdc-form-field fluid>
      <mdc-text-field label="Email" outlined required></mdc-text-field>
    </mdc-form-field>
  </div>
<mdc-card class="col-sm-6 demo-card" style="{padding-top: 20px; padding-bottom: 20px;}">


  <mdc-form-field fluid>
    <mdc-text-field label="Email" outlined required></mdc-text-field>
  </mdc-form-field>
  <mdc-form-field fluid>
    <mdc-text-field class="mdc-text-field--with-trailing-icon" label="Password" type="password" style="margin-top: 20px" outlined required></mdc-text-field>
  </mdc-form-field>
  <mdc-form-field fluid>
    <mdc-text-field label="Confirm Password" type="password" style="margin-top: 20px" outlined required></mdc-text-field>
  </mdc-form-field>

  <button mdc-button raised class="col-sm-12" style="margin-top: 20px">SIGNUP</button>
  <button mdc-button outlined class="col-sm-12" style="margin-top: 20px">LOGIN</button>

</mdc-card>
</div>
